<!DOCTYPE html>
<html>
<head>
    <title>Egg Drop</title>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/mathjax@2/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1.1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
    <div class="header">
        <h1>Egg Drop</h1>
        <img src="{{ url_for('static', filename='eggDrop.jpg') }}" alt="Egg icon" height="100">
    </div>
    <h2>Question</h2>
    <p>You are standing on a \(100\) storey building with \(2\) eggs. These eggs are special: they only break at a certain floor (or higher!). What is the <strong>least</strong> number of drops you need to figure out which floor that is? They may not break on any of the floors!</p>

    <h3 class="hint-button" onclick="toggleHint('hint1')">Hint 1</h3>
    <div id="hint1" class="hint">
        <p>You may reuse an unbroken egg.</p>
    </div>

    <h3 class="hint-button" onclick="toggleHint('hint2')">Hint 2</h3>
    <div id="hint2" class="hint">
        <p>What if you only had one egg?</p>
    </div>

    <h3 class="hint-button" onclick="toggleHint('hint3')">Hint 3</h3>
    <div id="hint3" class="hint">
        <p>What if you had infinite eggs?</p>
    </div>

    <h2>Follow-up Question</h2>
    <div class="follow-up">
    <p>Now suppose you have \(k\) eggs and \(n\) floors: how many drops would you need? You may need a computer for this one. Take a guess for how many drops you need if you have a six-pack of eggs and 1 million floors...</p>
    </div>

    <div class="source">
    <p>I first saw it in the <a href="https://books.google.co.uk/books/about/Practical_Guide_to_Quantitative_Finance.html?id=NaWaQQAACAAJ&redir_esc=y">Green book</a>, and then saw the follow-up on <a href="https://leetcode.com/problems/super-egg-drop/description/" target="_blank">
    Leetcode</a>.</p>
    </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>